.Map {
    width: 100vw;
    height: 90vh;
    position: relative;
    z-index: 1;
}

.SearchBar {
    z-index: 2;
    width: 120px;
    height: 25px;
    position: absolute;
    top: 40px;
    left: 10px;
    margin: 0px;
    -webkit-transition: width 0.4s ;
    transition: width 0.4s ;
}

.SearchBar input:hover {
    width: 200px;
}

.SearchBar input:focus {
    width: 200px;
}